<footer class="bg-neutral_dark text-neutral_light">
  <div class="container pt-10 lg:pt-16">
    <section class="grid md:grid-cols-2 gap-10 lg:gap-24">
      <div class="md:col-span-1">
        <div class="flex flex-col space-y-10 lg:space-y-0 lg:flex-row justify-between">
          <ul>
            <li class="font-bold text-2xl">LOGO</li>
            <li class="text-2xl tracking-tight my-5 lg:my-10">The New Creative <br> Economy.</li>
            <li>
              <ul class="flex space-x-6">
                <li><img src="#" id="icon-facebook" alt=""></li>
                <li><img src="#" id="icon-insta" alt=""></li>
                <li><img src="#" id="icon-twitter" alt=""></li>
              </ul>
            </li>
          </ul>
          <div>
            <h4 class="font-medium">Discover</h4>
            <div class="flex flex-col mt-4 lg:mt-10 space-y-3 lg:space-y-6">
              <a href="#" class="font-bold hover:underline text-sm">Marketplace</a>
              <a href="#" class="font-bold hover:underline text-sm">Engage & Earn</a>
              <a href="#" class="font-bold hover:underline text-sm">Resources</a>
            </div>
          </div>
        </div>
      </div>

      <div class="md:col-span-1">
        <div class="flex flex-col space-y-10 lg:space-y-0 lg:flex-row lg:space-x-14 justify-between">
          <div>
            <h4 class="font-medium">Company</h4>
            <div class="flex flex-col mt-4 lg:mt-10 space-y-3 lg:space-y-6">
              <a href="#" class="font-bold hover:underline text-sm">About us</a>
              <a href="#" class="font-bold hover:underline text-sm">FAQ</a>
              <a href="#" class="font-bold hover:underline text-sm">Support</a>
            </div>
          </div>
          <div class="max-w-sm">
            <h4 class="font-medium">Join Newsletter</h4>
            <div class="mt-4 lg:mt-10 space-y-3 lg:space-y-6">
              <p class="text-sm leading-relaxed">Subscribe our newsletter to get more free design course and resource</p>
              
              <form class="relative">
                <input class="placeholder:text-neutral_6 w-full rounded-full bg-transparent focus:outline-none px-4 py-3 leading-none text-sm border-2 border-neutral_6" placeholder="Enter your email" type="email" name="email" id="">
                <button type="submit" class="absolute top-2 right-2 bg-primary rounded-full flex h-8 w-8 items-center justify-center hover:opacity-80">
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M14.0909 7.26521C14.4968 6.8906 15.1294 6.9159 15.504 7.32172L18.7348 10.8217C19.0884 11.2047 19.0884 11.7952 18.7348 12.1782L15.504 15.6783C15.1294 16.0841 14.4968 16.1094 14.091 15.7348C13.6851 15.3602 13.6598 14.7276 14.0344 14.3217L15.716 12.5L6 12.5C5.44771 12.5 5 12.0523 5 11.5C5 10.9477 5.44771 10.5 6 10.5L15.716 10.5L14.0344 8.67829C13.6598 8.27247 13.6851 7.63981 14.0909 7.26521Z" fill="#FCFCFD"/>
                  </svg>
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="copyright" class="py-6 lg:py-8 mt-8 lg:mt-12 border-t border-neutral_6">
      <div class="md:flex space-y-2 md:space-y-0 justify-between">
        <p class="text-xs text-neutral_light">Copyright © 2021 Company LLC. All rights reserved</p>
        <div class="flex space-x-5">
          <p class="text-xs text-neutral_light">We use cookies for better service.</p>
          <a href="#" class="text-xs text-primary hover:underline">Accept</a>
        </div>
      </div>
    </section>
  </div>
</footer>