<header class="relative bg-slate-50 h-16 lg:h-20 flex items-center">
  <div class="container flex justify-between">
    <div class="flex w-full md:space-x-7 md:divide-x-2 divide-gray-700">
      <a href="#" class="flex items-center">
        <img src="#" id="logo" alt="logo">
      </a>
      <div class="hidden bg-slate-50 w-full absolute left-0 top-full 
      md:block md:top-0 md:bg-transparent md:relative">
        <div class="container flex flex-col space-y-3 py-5 justify-between w-full
        md:space-y-0 md:py-0 md:flex-row md:px-0
        ">
          <ul class="flex flex-col space-y-3 md:space-y-0 md:flex-row pl-3 font-button text-sm font-semibold">
            <li class="flex place-self-center">
              <a class="hover:underline p-2 mx-2 leading-none" href="#">Marketplace</a>
            </li>
            <li class="flex place-self-center">
              <a class="hover:underline p-2 mx-2 leading-none" href="#">Resources</a>
            </li>
          </ul>
          <button class="font-button text-sm bg-primary text-neutral_light hover:opacity-80 transition-all rounded-full leading-none px-4 py-3">Sign In or Register</button>
        </div>
      </div>
    </div>
    <button data-collapse-toggle="mobile-menu" type="button" class="inline-flex items-center p-2 ml-3 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="mobile-menu" aria-expanded="false">
      <span class="sr-only">Open main menu</span>
      <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
      <svg class="hidden w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
    </button>
  </div>
</header>